@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

:root {
    --azul-oscuro: #021226;
    --azul-claro: #A9A7D9;
    --azul-morado: #4E458C;
    --verde: #02733E;
    --amarillo: #C6D93B;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url(bg/bggg.jpg); */
}

.loader-wrapper {
    width: 200px;
    height: 200px;
}

.loader-wrapper .loader {
    width: 100%;
    height: 100%;
    border: 20px solid transparent;
    border-radius: 100%;
    animation: rotate 5s linear infinite;
}

.loader-wrapper .loader-outer {
    /* border-top-color: #4bc8eb; */
    border-top-color: var(--azul-morado);
    /* border-bottom-color: #f13a8f; */
    border-bottom-color: var(--azul-claro);
}

.loader-wrapper .loader-inner {
    border-top-color: var(--amarillo);
    border-bottom-color: #fff;
    animation-duration: 4s;
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(360deg);
    }

    100% {
        transform: scale(.6) rotate(-360deg);
    }
}


.window-notice {
    background: rgba(33, 41, 52, .85);
    bottom: 0;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    transition: background .6s;
}

.window-notice .content {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
    text-align: center;
}

.content-buttons-error {
    text-align: center;
    margin-top: 1rem;
}

.content-buttons-error a {
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    padding: 1rem;
    background-color: #de0000;
    color: #FFF;
    text-transform: uppercase;
}

.content-buttons-login {
    text-align: center;
    margin-top: 1rem;
}

.content-buttons-login a {
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    padding: 1rem;
    background-color: var(--azul-morado);
    color: #FFF;
    text-transform: uppercase;
}

.content-buttons-success {
    text-align: center;
    margin-top: 1rem;
}

.content-buttons-success a {
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    padding: 1rem;
    background-color: #11c201;
    color: #FFF;
    text-transform: uppercase;
}
/* 
.content-buttons a:hover {
    background-color: #006AB8;
} */

.content-text a {
    color: #0080DE;
    text-decoration: none;
    text-align: center;
}

.content-text a:hover {
    color: #006AB8;
    text-decoration: underline;
    text-align: center;
}